body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
li {
    list-style: none;
    display: inline;
}
.header {
    margin: 5px 10px 0px 10px;
    padding: 5px;
    border-bottom: orange 1px solid;
}
.logo {
    position: static;
    float: left;
}
.menu {
    float: right;
}