body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 720px;
    border: 1px solid rgb(214, 214, 214);
}
li {
    list-style: none;
}
a:link {
    text-decoration: none
}
.header {
    height: 50px;
    border-bottom: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(0, 247, 255),#1100ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.logo {
    float: left;
    margin: 5px;
    height: 40px;
    width: 120px;
}
.logo img {
    display: block;
    padding-top: 8px;
    margin: auto;
}
.menu {
    float: right;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu ul {
    margin-top: 17px;
}
.menu li {
    display: inline;
    margin: auto;
    padding: 6px;
}
.menu li:hover {
    border-bottom: 2px solid #1100ff;
    padding: 5px 6px
}
.profil {
    width: 100%;
    text-align: center;
    padding-top: 0px;
}
.profil img {
    border-radius: 50%;
    border: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(0, 247, 255),#1100ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
p#nama {
    max-width: 50%;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}
.profil .kota {
    max-width: 65%;
    margin: 10px auto;
    font-size: 14px;
}
p#deskripsi {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.portofolio h2 {
    text-align: center;
}
.row1 {
    width: 100%;
    text-align: center;
    background-color: rgb(211, 245, 255);
}
.row1 img {
    margin: 15px;
}
.slideshowgaleri {
    position: relative;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.nomortext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: #000000;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 16.66%;
}
.demo {
    opacity: 0.6;
}
  
.active, .demo:hover {
    opacity: 1;
}
.post {
    margin: 10px;
    height: 120px;
}
.blog h2{
    text-align: center;
}
.blog h3 {
    font-size: 16px;
}
.blog p {
    font-size: 14px;
}
.blog img {
    width: 20%;
    float: left;
    padding: 0px 10px 10px 0px;
}
.team {
    width: 100%;
    min-height: 500px;
    text-align: center;
}
.team1 {
    width: 189px;
    max-width: 100%;
    float: left;
    text-align: center;
    padding: 3.5%;
}
.team1 img {
    border-radius: 50%;
    border: 2px solid rgb(163, 163, 163)
}
.team h4, p {
    margin: 0px;
}