body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 720px;
    border: 1px solid rgb(214, 214, 214);
}
li {
    list-style: none;
}
a:link {
    text-decoration: none
}
.header {
    height: 50px;
    border-bottom: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(0, 247, 255),#1100ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.logo {
    float: left;
    margin: 5px;
    height: 40px;
    width: 120px;
}
.logo img {
    display: block;
    padding-top: 8px;
    margin: auto;
}
.menu {
    float: right;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu ul {
    margin-top: 17px;
}
.menu li {
    display: inline;
    margin: auto;
    padding: 6px;
}
.menu li:hover {
    border-bottom: 2px solid #1100ff;
    padding: 5px 6px
}
.profil {
    width: 100%;
    text-align: center;
    padding-top: 0px;
}
.profil img {
    border-radius: 50%;
    border: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(0, 247, 255),#1100ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
p#nama {
    max-width: 50%;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}
p#kota {
    max-width: 65%;
    margin: 10px auto;
    font-size: 14px;
}
p#deskripsi {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.portofolio h2 {
    text-align: center;
}
.row1 {
    height: 100px;
    padding-top: 20px;
    background-color: rgb(211, 255, 248);
}
.column1, .column2, .column3, .column4 {
    width: 25%;
    max-width: 25%;
    display: inline;
    margin: 38px;
}
.column1 img, .column2 img, .column3 img, .column4 img {
    width: 100px;
    height: 62px;
}
.row2 {
    height: 204px;
    padding-top: 20px;
    background-color: rgb(211, 255, 248);
}
.column5, .column6, .column7, .column8, .column9, .column10 {
    max-width: 33%;
    display: inline;
    margin: 3px;
}
.column5 img, .column6 img, .column7 img, .column7 img, .column7 img, .column img {
    width: 230px;
    height: 184px;
}